:root {
--bg-primary: #0B1D2A;
--bg-deep: #071520;
--bg-overlay: linear-gradient(135deg, #0B1D2A, #071520);
--hero-overlay-light: linear-gradient(
    rgba(11,29,42,0.4),
    rgba(7,21,32,0.6)
  );

  

 --about-overlay: linear-gradient(
    rgba(11,29,42,0.6),
    rgba(7,21,32,0.8)
  ); 
  --division-overlay: linear-gradient(
    rgba(11,29,42,0.55),
    rgba(7,21,32,0.75)
  );

  --division-overlay-hover: linear-gradient(
    rgba(11,29,42,0),
    rgba(7,21,32,0)
  );

 --nav-transparent: rgba(7,21,32,0.6);
 --navbar-scroll-bg: rgba(5, 57, 95, 0.85);

  --image-overlay: linear-gradient(
    rgba(11,29,42,0.4),
    rgba(7,21,32,0.6)
  );

--accent-main: #f5880b;
--accent-glow: #FFB703;
--accent-highlight: #FFD166;

--button-glow-bg:linear-gradient(135deg,var(--accent-main),var(--accent-glow));

  --white: #ffffff;
  --light-bg: #F5F7FA;

--glass-bg: rgba(255,255,255,0.05);
--glass-border: rgba(255,255,255,0.1);
--blur: blur(10px);

--glow-shadow: 0 10px 30px rgba(245,158,11,0.4);
--glow-shadow-hover: 0 15px 40px rgba(245,158,11,0.6);
--card-shadow: 0 20px 40px rgba(0,0,0,0.3);

--font-main: 'Poppins', sans-serif;

--section-padding: 40px;
--mobile-padding: 40px;
--border-radius: 4px;
--button-padding: 5px;
}

body{
  font-family: 'Poppins', sans-serif;
  background: var(--bg-overlay);
  color: var(--white);
}

.custom-nav{
  background: var(--nav-transparent);
  backdrop-filter: var(--blur);
}

.navbar-nav .nav-link {
  display: inline-block !important;  
  width: auto !important;       
}

.logo-icon{
  color: var(--accent-main);
}

.logo-text{
  color: var(--white);
}

.navbar-nav {
  gap: 12px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  border: 2px solid transparent;
  transition: 0.3s;
}

.navbar-toggler:not(.collapsed) {
  border: 2px solid var(--white);
}

.navbar-toggler:hover {
  border: 2px solid var(--light-bg);
}

.nav-link{
  color: var(--white) !important;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  z-index: 0;
  background: var(--accent);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.hero{
  height: 100vh;
  background: var(--about-overlay),
  url('./Images/civil.jpg') center/cover;
  display: flex;
  align-items: center;
}

.hero-content h1{
  font-size: 48px;
  font-weight: 700;
}
.hero-content p{
  color: var(--text-light);
}

.hero-buttons{
  display: flex;
  gap: 15px;
}

.btn-glow {
  background: var(--button-glow-bg);
  color: var(--white) ! important;
  border-radius:var(--border-radius);
  padding:var(--button-padding);
  transition: 0.3s;
}

.btn-glow:hover {
 transform: translateY(-2px) scale(1.03);;
}

.btn-outline {
  border: 1px solid var(--light-bg);
  background: var(--glass-bg);
  color: var(--white);
  backdrop-filter: var(--blur);
  border-radius: var(--border-radius);
  padding: var(--button-padding);
  transition: 0.3s;
}

.btn-outline:hover {
  transform: translateY(-2px) scale(1.03);
  border-color: var(--text-body);
}

.section{
  padding: var(--section-padding);
}

.darker{
  background: var(--darker);
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 40px;
  letter-spacing: 1px;
  white-space: nowrap;
}

.section-title span {
  padding: 0 15px;
}


.section-title::before,
.section-title::after {
  content: "";
  width: 60px; 
  height: 1px;
  background: var(--accent-glow);
  opacity: 0.7;
}


.section-title::before {
  background: linear-gradient(to right, transparent, var(--accent-glow));
}

.section-title::after {
  background: linear-gradient(to left, transparent, var(--accent-glow));
}

.section-subtitle {
  text-align: center;
  color: var(--white);
  margin-top: -20px;
  margin-bottom: 30px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.card-box{
  padding: 30px;
  border: 1px solid var(--glass-border);
  border-radius: var(--radius);
  transition: 0.3s;

}
.card-box:hover{
  background: var(--glass-bg);
  transform: translateY(-5px);
}

.service-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  text-align: center;
  padding: 30px 20px;
}

.service-box p{
font-size:14px;
line-height:1.7;
color:var(--light-bg);
}

.service-icon {
  font-size: 40px;
  color: var(--accent-glow);
  margin-bottom: 15px;
  display: inline-block;
  transition: 0.3s;
}

.service-box h6 {
  margin-bottom: 10px;
  font-weight: 600;
}

.service-box:hover {
  transform: translateY(-6px);
  border-color: var(--accent-glow);
  background: var(--glass-bg);
}

.service-box:hover .service-icon {
  transform: scale(1.2);
}

.horizontal-card{
display:flex;
align-items:flex-start;
gap:18px;
padding:30px 10px;
height:100%;
border:1px solid rgba(255,255,255,.10);
border-radius:var(--radius);

background:rgba(255,255,255,.02);

transition:.35s ease;
}

.project-icon-wrap{
flex-shrink:0;
display:flex;
align-items:center;
justify-content:center;
border-radius:14px;
}

.project-icon{
font-size:30px;
color:var(--accent-glow);
transition:.35s ease;
}

.project-content h5{
margin:0 0 12px;
font-size:20px;
font-weight:600;
line-height:1.4;
}

.project-content p{
margin:0;
font-size:14px;
line-height:1.7;
color:var(--text-muted);
}

.horizontal-card:hover{
transform:translateY(-6px);
border-color:var(--accent-glow);
box-shadow:0 0 18px var(--shadow-glow);
}

.horizontal-card:hover .project-icon{
transform:scale(1.15);
}

.feature-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px 20px;
  border: 1px solid var(--glass-border);
  border-radius: var(--radius);
  height: 100%;
  transition: 0.3s;
}

.feature-box .service-icon {
  font-size: 36px;
  color: var(--accent-glow);
  margin-bottom: 12px;
  transition: 0.3s;
}

.feature-box h6 {
  margin-bottom: 8px;
}

.feature-box p {
  font-size: 13px;
  color: var(--light-bg);
  margin-top: auto;
}

.contact-info-box,
.contact-form-box{
height:100%;
padding:40px 35px;
border-radius:var(--radius);
border:1px solid var(--glass-border);
}

.contact-info-box h4{
margin-bottom:30px;
}

.contact-item{
display:flex;
gap:18px;
margin-bottom:28px;
align-items:flex-start;
}

.contact-item i{
font-size:24px;
color:var(--accent-glow);
margin-top:5px;
}

.contact-item h6{
margin-bottom:6px;
}

.contact-item p{
margin:0;
color:var(--light-bg);
line-height:1.7;
}


.custom-input{
background:transparent;
border:1px solid var(--glass-border);
padding:14px 18px;
border-radius:10px;
color:var(--white);
}

.custom-input:focus{
background:transparent;
box-shadow:none;
border-color:var(--accent-highlight);
color:var(--white);
}

.custom-input::placeholder{
color:var(--light-bg);
}

select.custom-input option{
color:var(--bg-primary);
}

textarea.custom-input{
resize:none;
}

.contact-form-box .btn-gold{
padding:12px 28px;
}

.feature-box:hover {
  transform: translateY(-5px);
  border-color: var(--accent-glow);
  background: var(--glass-bg);
}

.feature-box:hover .service-icon {
  transform: scale(1.2);
}

.footer{
  text-align: center;
  padding: 20px;
  background:var(--bg-deep);
  color: var(--white);
}