:root {
  --primary: #0B1F3A;
  --primary-dark: #071520;
  --accent: #FFC107;
  --accent-main: #f5880b;
  --white: #ffffff;
  --light-bg: #F5F7FA;
  --glass-bg: rgba(255,255,255,0.05);
  --glass-border: rgba(255,255,255,0.1);
  --blur: blur(10px);
  --overlay:linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),   
    rgba(0, 0, 0, 0.2),   
    rgba(0, 0, 0, 0.05)   
  );
  --btn-glow-bg: linear-gradient(135deg, var(--accent-main), var(--accent));
  --btn-outline-border: 1px solid var(--light-bg);
  --btn-outline-bg: var(--glass-bg);
   --btn-radius: 4px;
  --btn-padding: 5px;
  --btn-hover-transform: translateY(-2px) scale(1.03);
  --overlay-light-bg: linear-gradient(
    rgba(81, 77, 77, 0.85),
    rgba(208, 197, 197, 0.85)
  );
   --hero-overlay: linear-gradient(
    to right,
    rgba(11, 31, 58, 0.95),
    rgba(11, 31, 58, 0.3)
  );
  --cta-gradient: linear-gradient(135deg, #0B1F3A, #071520);

  --nav-transparent: rgba(7,21,32,0.6);
  --navbar-scroll-bg: rgba(5, 57, 95, 0.85);

  --text-dark: #1A1A1A;
  --text-light: #D1D5DB;

  --radius: 10px;
  --shadow: 0 10px 25px rgba(0,0,0,0.08);
  --section-padding: 80px;
  --mobile-padding: 40px;
  --font: 'Poppins', sans-serif;
}

html, body{
  overflow-x:hidden;
}

*{
  box-sizing:border-box;
}

body {
  font-family: var(--font);
}


.custom-nav{
  background: var(--nav-transparent);
  backdrop-filter: var(--blur);
}

.navbar-nav .nav-link {
  display: inline-block !important;  
  width: auto !important;       
}

.logo-icon{
  color: var(--accent-main);
}

.logo-text{
  color: var(--white);
}

.navbar-nav {
  gap: 12px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  border: 2px solid transparent;
  transition: 0.3s;
}

.navbar-toggler:not(.collapsed) {
  border: 2px solid var(--white);
}

.navbar-toggler:hover {
  border: 2px solid var(--light-bg);
}

.nav-link{
  color: var(--white) !important;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  z-index: 0;
  background: var(--accent);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.hero {
  background: url('./Images/sshetobg.jfif') center/cover no-repeat;
  position: relative;
  height: 500px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--hero-overlay);
}

.hero-content {
  position: relative;
  color: var(--white);
  max-width: 100%;
  padding: 0 15px;
  text-align:left !important;
}

.hero-buttons{
  display: flex;
  gap: 15px;
}

.btn-glow {
  background: var(--btn-glow-bg);
  color: var(--white) ! important;
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  transition: 0.3s;
}

.btn-glow:hover {
  transform: var(--btn-hover-transform);
}

.btn-outline-custom {
  border: var(--btn-outline-border);
  background: var(--btn-outline-bg);
  color: var(--white);
  backdrop-filter: var(--blur);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  transition: 0.3s;
}

.btn-outline-custom:hover {
  transform: var(--btn-hover-transform);
  border-color: var(--white);
}

.stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px; 
  background: var(--primary);
  padding: 15px 20px;
}


.stat-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--white);
  font-size: 14px;
  position: relative;
  padding-right: 20px;
}


.stat-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  background: var(--white); 
  opacity: 0.6;
}


.divisions{
  background: var(--light-bg);
  padding: 60px 0;
}

section {
  padding: var(--section-padding) 0;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.section-heading::before,
.section-heading::after {
  content: "";
  flex: 1; 
  height: 1px;
}

.section-heading::before {
  background: linear-gradient(to right, transparent, var(--primary));
}

.section-heading::after {
  background: linear-gradient(to right, var(--primary), transparent);
}


.section-heading h2 {
  margin: 0;
  white-space: nowrap; 
}

.section-heading.light-lines::before {
  background: linear-gradient(to right, transparent, var(--light-bg));
}

.section-heading.light-lines::after {
  background: linear-gradient(to right, var(--light-bg), transparent);
}

.mini-cards {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background: var(--white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
}


.mini-card {
  flex: 1;
  padding: 25px 15px;
  text-align: center;
  position: relative;
}


.mini-card i {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 10px;
  display: block;
}


.mini-card span {
  font-size: 14px;
  color: var(--text-dark);
  font-weight: 500;
}


.mini-card:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  background: var(--primary);
  opacity: 0.3;
}


.solution-card {
  position: relative;
  width: 100%;
  height: 180px; 
  border-radius: var(--radius);
  overflow: hidden;
}

.solution-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  border-radius: var(--radius);
}

.solution-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background:var(--overlay)
}

.solution-card span {
  position: absolute;
  top: 12px;
  left: 15px;
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  z-index: 1; 
}


.icon-wrap {
  position: relative;
  display: inline-block;
  font-size: 28px;
}


.icon-wrap i {
  color: var(--primary);
  position: relative;
  z-index: 2;
}


.icon-wrap::after {
  content: ""; 
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);

  color: var(--accent);
  z-index: 1;
}

.benefits {
  background:var(--overlay-light-bg), url('./Images/Solarpanel.jpg') center/cover no-repeat;
  padding: 60px 0;
}

.benefits-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.benefit-item {
  flex: 1;
  text-align: center;
  padding: 20px;
  position: relative;
}


.benefit-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;

  background: linear-gradient(
    to bottom,
    var(--light-bg),
    var(--primary)
  );
}


.semi-icon {
  width: 80px;
  height: 40px;
  margin: 0 auto 15px;

  background:var(--light-bg);

  border-top-left-radius: 80px;
  border-top-right-radius: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.semi-icon i {
  font-size: 18px;
  color: var(--primary);
}


.benefit-item h6 {
  color: var(--primary);
  font-weight: bold;
  margin-top: 10px;
}

.cta {
  background: var(--cta-gradient);
  color: var(--white);
  padding: 60px 0;
}

.cta-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}


@media (max-width: 768px) {

  .navbar-nav {
    text-align: center;
    gap: 10px;
    margin-top: 10px;
  }

  .btn-glow {
    width: 100%;
  }

  .hero {
    height: auto;
    padding: 110px 0 60px;
  }

  .hero-content {
    text-align: left !important;
    max-width: 100%;
    padding: 0 20px;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-buttons .btn {
    width: 100%;
    max-width: 280px;
  }

  section {
    padding: var(--mobile-padding) 0;
  }

  .section-heading {
    flex-wrap: nowrap; 
  }

  .section-heading h2 {
    font-size: 18px; 
    white-space: nowrap;
  }

  .section-heading::before,
  .section-heading::after {
    flex: 1;
  }

  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 15px;
  }

  .stat-item {
    justify-content: flex-start;
    padding-right: 0;
  }

  .stat-item::after {
    display: none;
  }

  .solution-card {
    height: 200px;
  }

  .section-heading {
    flex-wrap: nowrap;
  }

  .section-heading h2 {
    font-size: 18px;
    white-space: nowrap;
  }

  .section-heading::before,
  .section-heading::after {
    flex: 1;
  }

  .benefits-row {
    display: flex;
    flex-direction: column;
  }

  .benefit-item {
    width: 100%;
    padding: 20px 0;
    position: relative;
  }

  .benefit-item::after {
    display: none;
  }

  .benefit-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 1px;

    background: linear-gradient(
      to right,
      var(--light-bg),
      var(--primary)
    );
  }

  .benefit-item:last-child::before {
    display: none;
  }

 .cta-buttons {
    flex-direction: column;
    align-items: stretch; 
  }

  .cta-buttons .btn {
    width: 100%;
    text-align: center;
  }

}
